@font-face{
	font-family: 'Open Sans', sans-serif;
}

@font-face{
	font-family: 'Montserrat', sans-serif;
}  

/* Default Styles */ 

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Real Styles */

html {
	font-size: 62.5%;
}

body { 
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: .025rem;
	overflow-x: hidden;

	font-size: 12px;
	font-size: 1.2rem; /* =12px */
}
h1 { 
	font-size: 36px;
	font-size: 3.6rem; /* =36px */
}
/* Styles for xs (phone) screens. Overwritten by media queries*/
h2 { 
	font-size: 20px;
	font-size: 2.0rem; /* =24px */
}
h3 { 
	font-size: 14px;
	font-size: 1.4rem; /* =16px */
	font-height: 100%;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a {
	text-decoration: none;
    color: black;
    transition: color .2s;
}
a:visited {
	text-decoration: none;
    color: black;
}
a:hover {
	text-decoration: none;
    color: rgb(0, 0, 200);
    transition: color .2s;
}
a:active {
	text-decoration: none;
    color: rgb(0, 0, 200);
}

p {
	line-height: 140%;
	padding-bottom: 15px;
	/*max-width: 400px;*/
}

dt {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	font-weight: 700;
}
/*#element1 {float:left;}
#element2 {padding-left : 20px; float:left;}*/

/*#element1 {display:inline-block;margin-right:10px;} 
#element2 {display:inline-block;} */
dd {
	display: inline-block;
	padding: 0 0 10px 10px;
	max-width: 220px;
	/*float: left;*/
	/*padding-bottom: 10px;*/
}

.bold{
	font-weight: 700;
}

.italic{
	font-style: italic;
}

.clear {
    clear: both;
}

.splash{
/*	min-height: 720px;
*/	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
/*	border-color: red;
	border-style: solid;
	border-width: 2px;*/
}

.full{
	/*min-height: 720px;*/
	min-height: 595px;
	min-height: 85vh; /* Takes into account the spacer of section above */
	min-width: 100%;
	min-width: 100vw;
	margin: 0;
	padding: 50px;
/*	border-color: red;
	border-style: solid;
	border-width: 2px;*/
}

.header{
/*	min-height: 200px;
	min-height: 30vh;*/
	position: relative;
/*	padding-top: 75px;
	padding-top: 15vh;*/
	padding-bottom: 70px; /*px is 7*vh*/
	padding-bottom: 10vh;
}

.header-content{
	position: absolute;
	bottom: 0px;
}

.main{
	/*min-height: 300px;*/
	/*min-height: 70vh;*/
	position: relative;
	padding-bottom: 100px;
	padding-bottom: 15vh;
}

/*.main-content{
	position: absolute;
	top: 0;
}*/

.spacer {
	min-height: 100px;
	min-height: 15vh;
}

#fixed-nav-bar{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 5px;
}

#fixed-nav{
	/*display: block;*/
/*	padding-left: 50px;
	padding-top: 30px;*/
	/*margin: 0 auto;*/
	/*padding: 0px 3px;*/
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #000000;
}

#fixed-nav li {}

#fixed-nav li a{
	display: block;
	/*float: left;*/
/*	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #000000;*/
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
	padding: 0px 30px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#fixed-nav li a:hover{
	color: #cccccc;
}
/*
.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}*/

#updateText{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;	
}

/* Article styles */
.big-number {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	position: absolute;
	left: -10px;
}
/*#element1 {float:left;}
#element2 {padding-left : 20px; float:left;}*/

/*#element1 {display:inline-block;margin-right:10px;} 
#element2 {display:inline-block;} */
.headline{
	display: inline-block;
	/*padding: 0 0 10px 10px;*/
	/*max-width: 220px;*/
	/*float: left;*/
	/*padding-bottom: 10px;*/
}

.RISD:hover {
	color: #737373;
	text-decoration: underline;
}

.Yale:hover {
	color: #1A76BB;
	text-decoration: underline;
}

.MIT:hover {
	color: #24A8B3;
	text-decoration: underline;
}

.New-School:hover {
	color: #f77116;
	text-decoration: underline;
}

.Brown:hover {
	color: #EC1C24;
	text-decoration: underline;
}

.BU:hover {
	color: #0ba016;
	text-decoration: underline;
}

.Rutgers:hover {
	color: #6048a8;
	text-decoration: underline;
}

.Harvard:hover {
	color: #fcc342;
	text-decoration: underline;
}

.hide{
	display:none;
}

.caption {
	font-style: italic;
	font-size: 13px;
	max-width: 450px;
	margin-top: -15px;
}

#sketch{
	position:absolute;
	z-index: 10;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	/*padding-bottom: 0px;*/
}
#cover h1, #cover h2, #cover h3, #cover a{
	color: white;
}

#STEAM{
	margin-left: 40px;
	margin-left: 3vw;
}

/* This will be default xs size, so tiny, overwritten for sm, md, lg*/
#STEAM h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 10.5rem;
	font-size: 25vw;
	letter-spacing: .25rem;
	/*Fallback border for Firefox/Opera*/
/*	text-shadow:
	-1px -1px 0 #404040,  
	1px -1px 0 #404040,
	-1px 1px 0 #404040,
	1px 1px 0 #404040;*/
	-webkit-text-stroke: 2px #404040;
}

#schools{
/*	margin-top: -40px;
	margin-top: -5vh;
	margin-right: 40px;
	margin-right: 3vw;
	margin-bottom: 40px;
	margin-bottom: 5vh;*/
	position: absolute;
	right: 40px;
	/*right: 4vw;*/
	right: 5vh;
	bottom: 40px;
	bottom: 5vh;
}

#schools h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 3.2rem;	
	text-align: right;
	letter-spacing: .2rem;
	/* Fallback for Firefox/Opera*/
/*	text-shadow:
	-1px -1px 0 #404040,  
	1px -1px 0 #404040,
	-1px 1px 0 #404040,
	1px 1px 0 #404040;*/
	-webkit-text-stroke: 1.5px #404040;
}

.header{
	line-height: 3.6rem;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.row {
		position: relative;
	}

	.bottom-align-text {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	body{
		/*background-color: blue !important;*/
	}
	dd {
		display: inline-block;
		padding: 0 0 10px 10px;
		/*float: left;*/
		max-width: 190px;
		/*padding-bottom: 10px;*/
	}
	#STEAM h1{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 19.0rem;
		/*Fallback border for Firefox/Opera*/
	/*	text-shadow:
		-1px -1px 0 #404040,  
		1px -1px 0 #404040,
		-1px 1px 0 #404040,
		1px 1px 0 #404040;*/
		-webkit-text-stroke: 3px #404040;
	}

	#schools h3{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 3.6rem;	
		text-align: right;
		/* Fallback for Firefox/Opera*/
	/*	text-shadow:
		-1px -1px 0 #404040,  
		1px -1px 0 #404040,
		-1px 1px 0 #404040,
		1px 1px 0 #404040;*/
		-webkit-text-stroke: 1.5px #404040;
	}
	.full{
		margin: 0;
		padding: 0;
	}
	h2 { 
		font-size: 24px;
		font-size: 2.4rem; /* =24px */
	}
	h3 { 
		font-size: 16px;
		font-size: 1.6rem; /* =16px */
		font-height: 100%;
	}
	.big-number {
		left: -15px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	body{
		/*background-color: yellow !important;*/
	}
	dd {
		display: inline-block;
		padding: 0 0 10px 10px;
		/*float: left;*/
		max-width: 180px;
		/*padding-bottom: 10px;*/
	}
	#we-are-list{
		max-width: 600px;
	}
	#STEAM h1{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 20.0rem;
		/*Fallback border for Firefox/Opera*/
	/*	text-shadow:
		-1px -1px 0 #404040,  
		1px -1px 0 #404040,
		-1px 1px 0 #404040,
		1px 1px 0 #404040;*/
		-webkit-text-stroke: 3px #404040;
	}

	#schools h3{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 3.6rem;	
		text-align: right;
		/* Fallback for Firefox/Opera*/
	/*	text-shadow:
		-1px -1px 0 #404040,  
		1px -1px 0 #404040,
		-1px 1px 0 #404040,
		1px 1px 0 #404040;*/
		-webkit-text-stroke: 1.5px #404040;
	}
	.full{
		margin: 0;
		padding: 0;
	}
	h2 { 
		font-size: 24px;
		font-size: 2.4rem; /* =24px */
	}
	h3 { 
		font-size: 16px;
		font-size: 1.6rem; /* =16px */
		font-height: 100%;
	}
	.big-number {
		left: -20px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}	
	body{
		/*background-color: gray !important;*/
	}
	dd {
		display: inline-block;
		padding: 0 0 10px 10px;
		/*float: left;*/
		max-width: 240px;
		/*padding-bottom: 10px;*/
	}
	#we-are-list{
		max-width: 520px;
	}
	#STEAM h1{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 22rem;
		/*Fallback border for Firefox/Opera*/
	/*	text-shadow:
		-1px -1px 0 #404040,  
		1px -1px 0 #404040,
		-1px 1px 0 #404040,
		1px 1px 0 #404040;*/
		-webkit-text-stroke: 3px #404040;
	}

	#schools h3{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 4rem;	
		text-align: right;
		/* Fallback for Firefox/Opera*/
	/*	text-shadow:
		-1px -1px 0 #404040,  
		1px -1px 0 #404040,
		-1px 1px 0 #404040,
		1px 1px 0 #404040;*/
		-webkit-text-stroke: 1.5px #404040;
	}
	.full{
		margin: 0;
		padding: 0;
	}
	h2 { 
		font-size: 24px;
		font-size: 2.4rem; /* =24px */
	}
	h3 { 
		font-size: 16px;
		font-size: 1.6rem; /* =16px */
		font-height: 100%;
	}
	.big-number {
		left: -25px;
	}
}

/*@media (min-width: 768px ) {
	.row {
		position: relative;
	}

	.bottom-align-text {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}*/
